<% layout("/layouts/boilerplate") %>
<div class="row">
    <div class="col-8 offset-2">
    <br>
    <h3>Creating a new Listing</h3>
    <br>
    <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="listing[title]" class="form-control" placeholder="Add your title" required/>
            <div class="invalid-feedback">Title required!</div>
            <div class="valid-feedback">Title Looks Good!</div>
        </div>
        
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
             <textarea name="listing[description]" class="form-control" placeholder="Describe your place" required></textarea>
             <div class="invalid-feedback">Description needed!</div>
        </div>
        
        <div class="mb-3">
            <label for="image" class="form-label">Upload Listing Image</label>
            <input type="file" name="listing[image]" class="form-control"/>
        </div>

        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price</label>
                <input type="text" name="listing[price]" type="number" class="form-control" placeholder="&#8377;1,200" required/>
                <div class="invalid-feedback">Please add a valid price</div>
            </div>

            <div class="mb-3 col-md-8">
                <label for="country" class="form-label">Country</label>
                <input type="text" name="listing[country]" class="form-control" placeholder="India" required/>
                <div class="invalid-feedback">Please add a valid country</div>
            </div>

        </div>

        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input type="text" name="listing[location]" class="form-control" placeholder="Bengaluru, Karnataka" required/>
            <div class="invalid-feedback">Location cannot be empty</div>

        </div>
        
        <br>
        <button class="btn btn-dark add-btn">Add</button>
        <br> <br>
    </form>
    </div>
</div>